<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="insertMember">
		insert into
			member
		values (
			#{ memberId },
			#{ memberPWD },
			#{ memberName },
			#{ gender },
			#{ phone },
			default
		)
		
	</insert>

	<select id="selectOneMember" resultMap="memberMap">
		select 
			*
		from
			member
		where
			member_id = #{ memberId }
	</select>
	
	<resultMap type="member" id="memberMap">
	
	</resultMap>
	
	<update id="updateMember">
 		update
 			member
 		<set>
 			<if test="memberId != null and memberId != ''">
 				member_id = #{ memberId },
 			</if>
 			<if test="memberPWD != null and memberPWD != ''">
 				member_pwd = #{ memberPWD },
 			</if>
 			<if test="memberName != null and memberName != ''">
 				member_name = #{ memberName },
 			</if>
 			<if test="gender != null and gender != ''">
 				gender = #{ gender },
 			</if>
 			<if test="phone != null and phone != ''">
 				phone = #{ phone }
 			</if>
 		</set>
 		where member_id = #{ memberId }
 	</update>
	
	<delete id="deleteMember">
		delete from member where member_id = #{ memberId }
	</delete>
</mapper>