<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp">

	<insert id="insertEmp">
		insert into
			EMP
		values(
			#{ empId },
			#{ empPwd },
			#{ empName },
			#{ empAddr1 },
			#{ empAddr2 },
			#{ empAddr3 },
			#{ empPhone },
			default,		
			#{ status }
		)
	</insert>
	
	<select id="selectOneEmp" resultType="emp">
		select
			emp_id AS empId,
			emp_name AS empName,
			emp_pwd AS empPWD,
			addr1 AS empAddr1,
			addr2 AS empAddr2,
			addr3 AS empAddr3,
			phone AS empPhone,
			enroll_date AS empEnrollDate,
			status AS status
		from
			emp
		where
			emp_id = #{ empId }
	</select>
	
	<update id="infoUpdate">
		update
			emp
		<set>
			emp_id = #{ empId },
			<if test="empPwd != null">
			emp_pwd = #{ empPwd },
			</if>
			<if test="empName != null">
			emp_name = #{ empName },
			</if>
			<if test="empAddr1 != null">
			addr1 = #{ empAddr1 },
			</if>
			<if test="empAddr2 != null">
			addr2 = #{ empAddr2 },
			</if>
			<if test="empAddr3 != null">
			addr3 = #{ empAddr3 },
			</if>
			<if test="empPhone != null">
			phone = #{ empPhone },
			</if>
			<if test="status != null">
			status = #{ status }
			</if>
		</set>
		where
			emp_id = #{ empId }
	</update>
	
	<delete id="infoDelete">
		delete
		from
			emp
		where
			emp_id = #{ empId }
	</delete>
	
	<resultMap type="emp" id="empMap">
	
	</resultMap>
	
	<resultMap type="Product" id="productMap">
	
	</resultMap>
	

	<select id="empList" resultType="EMP">
		select
			emp_id AS empId,
			emp_name AS empName,
			addr2 AS empAddr2,
			phone AS empPhone,
			enroll_date AS empEnrollDate,
			status AS status
		from
			EMP
		order by
			enroll_date
	</select>
	
	<select id="ioLogList" resultType="IoLog">
		select
			*
		from
			Io_Log	
	</select>
	
	<select id="productList" resultType="Product">
		select
			*
		from
			Product
			
	</select>
	
	<select id="receiveList" resultType="Receive">
		select
			*
		from
			Receive
			
	</select>
	
	<select id="requestList" resultType="RequestLog">
		select
			*
		from
			Request_Log
	</select>

</mapper>