<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emp">

	<insert id="insertEmp">
		insert into
			EMP
		values(
			#{ empId },
			#{ empPwd },
			#{ empName },
			#{ empAddr1 },
			#{ empAddr2 },
			#{ empAddr3 },
			#{ empPhone },
			default,		
			#{ empStatus }
		)
	</insert>
	
	<select id="selectOneEmp" resultMap="empMap">
		select
			emp_id AS empId,
			emp_name AS empName,
			addr1 AS empAddr1,
			addr2 AS empAddr2,
			addr3 AS empAddr3,
			phone AS empPhone,
			enroll_date AS empEnrollDate,
			status AS empStatus
		from
			emp
		where
			emp_id = #{ empId }
	</select>
	
	
	
	<resultMap type="emp" id="empMap">
	
	</resultMap>
	
	<resultMap type="Product" id="productMap">
	
	</resultMap>
	

	<select id="empList" resultType="EMP">
		select
			emp_id AS empId,
			emp_name AS empName,
			addr2 AS empAddr2,
			phone AS empPhone,
			enroll_date AS empEnrollDate,
			status AS status
		from
			EMP
		order by
			enroll_date
	</select>

</mapper>