<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	
	<select id="selectCartList" resultType="cart">
		select
	    	C.member_id member_id,
            C.product_no product_no,
            C.amount amount,
            p.product_name product_name,
            p.reg_date reg_date,
            p.category category,
            p.price price
		from
	    	cart C 
	    		inner join 
	    	product p 
	    		on 
	    	C.product_no = P.product_no
	    where
	    	member_id = #{ memberId }
	</select>
 
 	<select id="selectProductListAll" resultType="product">
 		select
 			*
 		from
 			product
 	
 	</select>
 	
 	<select id="selectProductOne" resultType="product">
 		select
 			P.*
 		from
 			product P
 		where
 			product_no = #{ productNo }
 	</select>
 	
 	<select id="selectProductMainImages" resultType="productMainImages">
 		select
 			*
 		from
 			product_main_images
 		where
 			product_no = #{ productNo }
 	</select>
 	
 	
 	<select id="searchProductList" resultType="product">
 		select * from product
 		<where>
 		
 		<if test="cateArr != null">
 			category in  <foreach collection="cateArr"
			    		 item="cateArr"
			    		 open="("
			    		 close=")"
			    		 separator=",">
			    	#{ cateArr }
			    	</foreach>
 		</if>
 		<if test="search != null and !search.isempty">
	 		and (product_name like '%' || #{search} || '%'
 			or content like '%' || #{search} || '%')
 		</if>
 		
 		</where>
 	</select>
 	
 	<select id="productCategory" resultType="product">
 		select * from product
 			where category = #{category}
 	</select>
 	
 	<select id="selectAddressList" resultType="address">
 		select
 			*
 		from
 			address
 		where
 			member_id = #{memberId}
 		order by 
 			reg_date desc
 	</select>
 	
 	
 	<insert id="insertCart">
 		insert into
 			cart
 		values
 		(
 		#{memberId},
 		#{productNo},
 		#{amount}
 		)
 	</insert>
 	
 	<insert id="insertReview">
 		insert into
 			review
 		values(
 			seq_review_no.nextval,
 			#{ purchaseLogNo },
 			#{ comments },
 			#{ score },
 			default
 		)
 	</insert>

 	<delete id="deleteFromCart">
 		delete from
 			cart
 		where
 			member_id = #{memberId} and
 			product_no = #{productNo}
 	</delete>
 	

 	<update id="updatePurchaseConfirm">
 		update
 			purchaseLog
 		set(
 			status = 1
 		)
 		where
 			purchase_log_no = #{purchaseLogNo}
 	</update>
 	
 	<insert id="insertReturn">
 		insert into
 			return
 		values(
 			seq_return_no.nextval,
 			#{ status },
 			#{ purchaseLogNo },
 			#{ content },
 			#{ amount },
 			default
 		)
 	</insert>
 	
 	<select id="selectReturnNo" resultType="_int">
 		select
 			seq_return_no.currval
 		from
 			dual
 	</select>
 	
 	<insert id="insertReturnImages">
 		insert into
 			return_images
 		values(
 			seq_return_images_no.nextval,
 			#{ originalFilename },
 			#{ renamedFilename },
 			#{ returnNo }
 		)
 	</insert>
 	
 	<insert id="insertPurchase">
 		insert into
 			purchase
 		values(
 			seq_purchase_no.nextval,
 			#{memberId},
 			default,
 			#{addressName}
 		)
 	</insert>
 	
 	<select id="getPurchaseNo" resultType="_int">
 		select
 			seq_purchase_no.currval
 		from
 			dual
 	</select>
 	
 	<insert id="insertPurchaseLog">
 		insert into
 			purchase_log
 		values(
 			seq_purchase_log_no.nextval,
 			#{purchaseNo},
 			#{productNo},
 			#{amount},
 			default
 		)
 	</insert>
 	<resultMap type="product" id="productMap">
 		<id column="product_no" property="productNo"/>
 		<result column="product_name" property="productName"/>
 		<result column="reg_date" property="regDate"/>
 		<result column="category" property="category"/>
 		<result column="content" property="content"/>
 		<result column="price" property="price"/>
 		<result column="emp_id" property="empId"/>
 		<result column="enabled" property="enabled"/>
 		
 		<collection property="productMainImages" ofType="productMainImages">
	 		<id column="product_main_image_no" property="productMainImageNo"/>
	 		<result column="original_filename" property="originalFilename"/>
	 		<result column="renamed_filename" property="renamedFilename"/>
	 		<result column="product_no" property="productNo"/>
 		</collection>
 	</resultMap>

 	
 	
 	<resultMap type="cart" id="cartMap">
 		<id column="member_id" property="memberId"/>
 		<result column="product_no" property="productNo"/>
 		<result column="amount" property="amount"/>
		
		<collection property="selectedProduct" ofType="product">
			<id column="product_no" property="productNo"/>
	 		<result column="product_name" property="productName"/>
	 		<result column="reg_date" property="regDate"/>
	 		<result column="category" property="category"/>
	 		<result column="content" property="content"/>
	 		<result column="price" property="price"/>
	 		<result column="emp_id" property="empId"/>
	 		<result column="enabled" property="enabled"/>
		</collection> 	
 	</resultMap>
 	
 
</mapper>