<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cs">
  
 <select id="selectCsList" resultType="cs">
		select
			*
		from 
			CS
		 <where>
			<if test="memberId != null and memberId != ''">
				and  member_id like  #{ memberId }
			</if>
			<if test="secret != null and secret != ''">
				and  secret  =  #{ secret }
			</if>
		</where>
		order by
		notice desc, cs_no desc
	</select>
	
	<insert id="insertCs">
		insert into
			CS
		values (
			seq_cs_no.nextval,
			#{ title },
			#{ content },
			#{ memberId },
			default,
			#{ secret },
			#{ notice }		
		)
		
		<selectKey order="AFTER" resultType="_int" keyProperty="csNo">
			select
				seq_cs_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="insertCsImage">
		insert into
			cs_images
		values(
			seq_cs_image_no.nextval,
			#{ originalFilename },
			#{ renamedFilename },
			#{ csNo }
		)
	</insert>
	
	<delete id="deleteCs">
        delete from 
        	CS 
     	where 
     		cs_no = #{ csNo } 
    </delete>

	<select id="selectOneCsCollection" resultType="cs">
		select
			*
		from
			cs
		where
			cs_no = #{ csNo }
		order by
		notice desc, cs_no desc
	</select>
	
	<select id="selectCsImage" resultType="csImages">
		select
			*
		from
			cs_images
		where
			cs_no = #{ csNo }
	</select>
</mapper>