<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erpBoard">
	<select id="empBoard" resultType="EmpBoard">
		select
			*
		from
			board
		order by
			reg_date desc
	</select>
	<select id="selectOneEmpBoard" resultMap="empBoardCollection">
		select
		    B.*,
		    bi.board_image_no,
		    bi.original_filename,
		    bi.renamed_filename
		from board B
		left join board_images bi 
		on  b.board_no =  bi.board_no
		where b.board_no = #{ no }
	</select>
	
	<resultMap type="empBoard" id="empBoardCollection">
		<id column="board_no" property="boardNo"/>
		<result column="title" property="title"/>
		<result column="category" property="category"/>
		<result column="content" property="content"/>
		<result column="emp_id" property="empId"/>
		<result column="reg_date" property="regDate"/>
		<result column="read_count" property="readCount"/>
		<collection property="empBoardImageList" ofType="EmpBoardImage">
			<id column="board_image_no" property="boardImageNo"/>
			<result column="original_filename" property="originalFilename"/>
			<result column="renamed_filename" property="renamedFilename"/>
			<result column="download_count" property="downloadCount"/>
		</collection>
	</resultMap>
	<select id="selectReplyList" resultType="EmpBoardReply">
		select 
		    * 
		from  (select r.* ,e.emp_name empName from emp e join board_reply r on e.emp_id = r.emp_id) 
		where  board_no = #{ boardNo }
		order by reg_date desc
			
	</select>
	
	<insert id="insertBoardReply">
		insert into
			 board_reply 
			 values(
			  seq_board_reply_no.nextval,
			   #{ content }, 
			   sysdate, 
			   #{ boardNo },
			   #{ empId }
			   )
	</insert>
	
	<delete id="deleteReply">
		delete from board_reply
		where board_reply_no = #{ boardReplyNo } 
	
	</delete>
	
	<update id="updateReply">
		update board_reply 
			set
		 content = #{ content }
		 where board_reply_no = #{ boardReplyNo } 
	</update>
	
	<insert id="insertEmpBoard">
		insert into 
			board 
		values(seq_board_no.nextval 
		,#{ category }
		,#{ title }
		,#{ content } 
		,#{ empId}
		,default
		, 0)
		<selectKey order="AFTER" resultType="_int" keyProperty="boardNo">
			select
				seq_board_no.currval 			
 			from
 				dual
 		</selectKey>
	</insert>
	
	<insert id="insertEmpBoardImage">
		insert into
    		board_images
        values(
        seq_board_image_no.nextval,
        #{ originalFilename },
        #{ renamedFilename },
		#{ boardNo }
		)
	</insert>
	
	<select id="empBoardFileDownload" resultType="empBoardImage">
		select
			*
		from board_images
		where board_image_no = #{ no }
	
	</select>
	
	<select  id="erpProductList">
		select p.product_no,
			p.product_name,
			p.category,
			s.emp_id,
			p.reg_date,
			s.stock 
		from product p left join stock s
		on (p.product_no = s.product_no)
	</select>
</mapper>